<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">File Share</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarMain"
            aria-controls="navbarMain"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarMain">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/">All files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/trades">My trades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/files">My files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/update-profile">Update profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/change-password">Change password</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
