<form method="post">
  <div class="form-group">
    <label for="email">Account email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  </div>
  <button class="btn btn-primary">Send reset token</button>
</form>
